<%- include('includes/head.ejs') %>
</head>

<body>
    <header class="main-header">
        <%- include('includes/navigation.ejs') %>
    </header>
    <h1 class="centered">Page Not Found!</h1>
    <p class="centered">Looks like that page doesn't exist in our system</p>
    <img class="centered-img" src="https://image.freepik.com/free-vector/no-data-concept-illustration_114360-536.jpg" alt="404Error">
    
<%- include('includes/end.ejs') %>