<%- include('includes/head.ejs') %>
</head>

<body>
    <header class="main-header">
        <%- include('includes/navigation.ejs') %>
    </header>
    <h1 class="centered">Some error ocurred</h1>
    <p class="centered">We're working on fixing this. Sorry for the inconvenience.</p>
    <img class="centered-img" src="https://image.freepik.com/free-vector/feeling-sorry-concept-illustration_114360-3950.jpg" alt="404Error">
<%- include('includes/end.ejs') %>